<div ng-include="'components/navbar/navbar.html'"></div>
<H1 style="color:#00008B;"> Shopping Cart </H1>
<p class="text-info" style="color:#8B0000;">
    Thank you for shopping at the Group Shop.<br />
    Here you can edit the items, share your cart with friends/family,
    go back to the store, clear the cart, or check out.
</p>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-10">

            <!-- items -->
            <table class="table table-responsive">

                <!-- header -->
                <tr class="well">
                	<td></td>
                    <td><b>Item</b></td>
                    <td class="text-left"><b>Quantity</b></td>
                    <td class="text-right"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                	<td class="text-center"><img ng-src="{{item.image}}" alt="{{item.name}}" /></td>
			        <td>
            		  <a href="/products/{{item.id}}"><b>{{item.name}}</b></a><br />
            		  {{item.description}}
        		    </td>                    
                    <td class="text-left" >
                      <div class= "input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input
                            class="col-xs-2 text-left" type="tel" 
                            ng-model="item.quantity" 
                            ng-change="cart.saveItems()" />
                        <span> </span>
                        <input 
                            class="text-left" type="image" ng-src="assets/images/add.ico" height=25 width=25
                            ng-disabled="item.quantity >= 1000"
                            ng-click="cart.addItem(item.id, item.name, item.price,  +1, item.image)"></input>
                        <input 
                            class="text-left"  type="image" ng-src="assets/images/remove.ico" height=25 width=25
                            ng-disabled="item.quantity <= 1"
                            ng-click="cart.addItem(item.id, item.name, item.price, -1, item.image)"></input>
                      </div>
                    </td>
                    <td class="text-right">{{item.price * item.quantity | currency}}</td>
                    <td class="text-center" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.id, item.name, item.price, -10000000)" >
                            <i class="icon-remove" />
                            <img ng-src="assets/images/remove_cart.ico" height=30 width=30 alt="Remove from Cart" />
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td />
                    <td class="text-left"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="text-right"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td /><td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="col-lg-2">
            <p class="text-info">
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href='/shop'">
                    <i class="glyphicon glyphicon-chevron-left" /> Back to Store
                </button>
                   <button 
                    class="btn btn-block btn-info" 
                    ng-click="cart.shareCart()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="glyphicon glyphicon-share" ></i> Share Cart
                </button>
                <button 
                    class="btn btn-block btn-warning" 
                    ng-click="cart.unshareCart()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="glyphicon glyphicon-remove-circle" ></i> Unshare Cart
                </button>
                <button 
                    class="btn btn-block btn-danger" 
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="glyphicon glyphicon-trash" /> Clear Cart
                </button>

            </p>

            <br /><br />

            <p class="text-info">
                <button
                    class="btn btn-block btn-primary"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="glyphicon glyphicon-ok" /> Check out using PayPal
                </button>
                <button 
                    class="btn btn-block btn-primary" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="glyphicon glyphicon-ok" /> Check out using Google
                </button>
            </p>
            <br />

            <p class="text-info">
                <button 
                    class="btn btn-block btn-link"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="assets/images/paypal.gif" alt="checkout PayPal"/>
                </button>    
                <button 
                    class="btn btn-block btn-link" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="assets/images/BuywithGoogle.gif" alt="checkoutGoogle"/>
                </button>    
            </p>
        </div>
    </div>
</div>